/*THE universal format for all the
 pages, font,background color, 
 navigation bar and footer bar
*/







html{
  background-color: #f1f1f1;
  color:#2e2e2e;
  font: 1em sans-serif;
}
header {
  background-color: #2e2e2e;
  display: flex;
  flex-direction: row;
  padding: 10px;
}
header>img{
    display: flex;
    justify-content: left; 
    padding-left: 5%;
}

header>nav {
    width: 50%;
    color: #faf8ff;
    display: flex;
    justify-content: flex-end; 
    padding-right: 5%;
    margin-left: auto;
}

nav li {
  color: #faf8ff;
  list-style-type: none;
  display: inline;
  width: 100px;
  margin: 20px;
  padding: 10px;
  text-align: right;
}

a {
  text-decoration: none;
  color: white;
}

a:hover{
  color:#8685ef;
}

.title{
  align-items: center;
  text-align:center;
  width:100%;
  text-align:center;
  align-items: center;
  justify-content: center;
}

.title>h1{
  
  font-size:3rem;
  margin-top:5%;
}
.title>h2{
  font-size:2rem;
  margin:auto 10% 10% 0% ;
  padding-bottom: 0;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
  justify-content: center;
  margin-bottom: 0;
  padding-bottom: 0;
}

.title > h1 {
  font-size: 3rem;
  margin-top: 5%;
}

.title > h2 {
  font-size: 2rem;
  margin: 0 auto 5%;
}

button {
  padding: 8px 12px;
  font-size: 1em;
  background-color: #007BFF;
  color: #fff;
  border: none; 
}

 button:hover {
  background-color: #0056b3;
}

footer {
  color: white;
  bottom: 0px;
  background-color: #2e2e2e;
  position: fixed;
  width: 100%;
  height:5%;
  display: flex;
  flex-direction: row;
  align-items:center;
  padding: 1%;
  justify-content: space-between;
}
footer>div{
  margin-left: 2%;
  padding-right: 5%;
}
.icons img{
  height:5vh ;

}

/*
The specific format for the introduction section 
of the home page.  
*/

.main-content {
    
  display: flex;
  flex-direction: row;
  padding-left: 20%;
  padding-right:20%;
  
  text-align: justify;
  justify-content: center;
  justify-items: center;
  
}

#portrait {
    width:80%;    
    
}

.summary{
padding:5%;

}
.strong{
    font-weight:bold;
}

.main-content img{
    align-items:baseline;
    padding:0 10px;
}


/* The specific format for the Mypage page */
.card{

  display: flex;
  background-color: #fff;
  border: 1px solid #ddd;
 margin-bottom: 15px;
 padding-bottom: 10px;;
  
  
}

.friend-zone{
  padding-left: 5%;
    width:30%;
    align-items: left;
  }



  .search-container  {
    display: flex;
    align-items: baseline;
    padding: 10px auto;
    font-size: 1em;
    justify-content: center;
    margin: 20px auto;
    gap: 10px;
  }

  #search-input {
    font-size: 1em;
    width:60%;
    
  }
  
  
/* The specific format for the contact page*/

form {
  width: 60%; 
  margin: 20px auto; 
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #ffffff;
  margin-bottom: 10%;
}


label {
  font-size: 1rem;
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
  
}

input, textarea {
  width: 100%; 
  padding: 8px; 
  margin: 0; 
  border: 1px solid #ccc;
  border-radius: 5px; 
  font-size: 1rem;
  box-sizing: border-box; 
  margin-bottom: 15px;
}



#submit {
  background-color: #2e2e2e;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  width: 100%;
}


#submit:hover {
  background-color: #8685ef;
}



/* The specific format for the projects page*/

.projects-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
  margin: 20px;
  flex-grow: 1;
  margin-bottom: 10%;
}

/* The specific format for the registor page warning*/
.warning{
  color:red;
  margin:0;
  padding:0;
} 

.terms {
  display: inline;
  margin-left: 20px;
}




/* responsible design for different screens*/

@media screen and (max-width: 600px) {
  /*Mobile: Maximum width of 600px*/
  nav {
    display: flex;
    flex-direction: column;
    color: white;
  }
  nav li {
    color: white;
    list-style-type: none;
    width: 100px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    justify-content: center;
  }

  nav img{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  li a {
    display: block;
    width: 60px;
  }
  .projects-container{
    grid-template-columns: 1fr;
  }

  .card-content, .projects{
    
    list-style-type: none;
    width: 80%; 
    margin: 10px;
    padding: 10px;
    text-align: center;
    justify-content: center;
  }

  form {
    width: 80%; 
    margin: 20px auto; 
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #ffffff;
    margin-bottom: 10%;
  }
  

}

@media screen and (min-width: 601px) and (max-width: 1024px) {
  
  .projects-container {
    grid-template-columns: repeat(2, 1fr);
  }
}





